@font-face {
    font-family: 'Raleway';
    src: url('/assets/raleway/Raleway-Light-Compact.woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('/assets/raleway/Raleway-Regular-Compact.woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('/assets/raleway/Raleway-Bold-Compact.woff2');
    font-weight: 600;
  }
  
@import "style/base";
@import "style/brand";
@import "style/header";
@import "style/navbar";
@import "style/whoami";
@import "style/article";
@import "style/footer";
@import "style/rainbow";

$fa-font-path: "/assets/fa";
@import "fontawesome/fa-used.scss";