.header {
    font-family: 'PT Sans', sans-serif;
    position: relative;
    padding: 3em 0em 0em 0em;
    letter-spacing: 3px;
    text-align: center;
    color: #FFF;
    margin-top: 1em;
    margin: 0 auto;
}