<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <div id="container">
        <header class="header" role="banner">
            <div class="brand">
                <h1 class="name">
                    {%- if current_path == "/" -%}
                    <span>Galen Guyer</span>
                    {%- else -%}
                    <a href="/">Galen Guyer</a>
                    {%- endif -%}
                </h1>
                <span class="description">Full-Stack Software Engineer</span>
            </div>
            <nav class="navbar">
                <ul>
                    <li>
                        {% if current_path == "/" -%}
                        <a class="active">
                            {%- else -%}
                            <a href="/">
                                {%- endif -%}
                                Home</a>
                    </li>
                    <li>
                        {% if current_path == "/projects/" -%}
                        <a class="active">
                            {%- else -%}
                            <a href="/projects">
                                {%- endif -%}
                                Projects</a>
                    </li>
                </ul>
            </nav>
        </header>
        {%- block content -%}
        {%- endblock content %}
        <footer>
            <a class="card" href="https://github.com/galenguyer">
                <span><i class="fab fa-github"></i> <span class="val">galenguyer</span></span>
            </a>
            <a class="card" href="mailto:galen@galenguyer.com">
                <span><i class="fas fa-envelope"></i> <span class="val">galen@galenguyer.com</span></span>
            </a>
            <a class="card" href="https://linkedin.com/in/galenguyer">
                <span><i class="fab fa-linkedin"></i> <span class="val">galenguyer</span></span>
            </a>
            <div style='width: 100%; text-align: center; display: block;'>
                <div class='copy'>&copy; 2020 Galen Guyer</div>
                <div class='copy'><a href="https://github.com/galenguyer/galenguyer.com"><i
                            class="fab fa-github"></i> Source</a></div>
            </div>
        </footer>
        <div id="rainbow">
            <span class="color" style="background-color: #FF0018;"></span>
            <span class="color" style="background-color: #FFA52C;"></span>
            <span class="color" style="background-color: #FFFF41;"></span>
            <span class="color" style="background-color: #008018;"></span>
            <span class="color" style="background-color: #0000F9;"></span>
            <span class="color" style="background-color: #86007D;"></span>
        </div>
    </div>
</body>