{% extends "section.html" %}

{% block styles -%}
    <title>Galen Guyer</title>
    <meta name="description" content="Galen Guyer is a Backend Software Engineer currently studying at the Rochester Institute of Technology. Galen has also interned at Microsoft twice, over the summers of 2018 and 2019. This website is a portfolio of his work experience and projects." />
    <link rel="stylesheet" type="text/css" href="/index.css">
{%- endblock styles %}

{% block content %}
<div class="whoami">
    <span class="description">
        2018 Microsoft Office Security, 2019 Microsoft One Customer Voice Intern.
        <br />
        Software Engineering Student at the Rochester Institute of Technology. 
        <br />
        Full Stack Developer, Systems Administrator, Data Hoarder, and much more.
    </span>

    <div class="links">
    <a href="https://github.com/galenguyer" class="profilebutton">Github</a>
    <a href="https://cdn.galenguyer.com/doc/Galen_Guyer_Resume-2020-04-28_14-16-31.pdf" class="profilebutton">Resume</a>
    </div>
</div>
{% endblock content %}